/.vs
/out
/installer/files/MFXLauncher.exe
/installer/files/MFX.exe
/installer/MFXSetup.exe
/installer/MFXSetup.zip

CMakeLists.txt.*
CMakeSettings.json
/installer/MFX.zip
ndrewK00installer/files/ftbusui.dll
installer/files/ftcserco.dll
installer/files/ftd2xx.dll
installer/files/ftdibus.sys
installer/files/ftlang.dll
installer/files/ftser2k.sys
installer/files/ftserui2.dll
installer/MFXSetup.exe